.git-information {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    font-size: 0.9rem;
    /* align-items: center; */
    /* justify-content: center; */
}

/* .git-information > div {
    display: flex;
    flex-direction: row;

    justify-content: center;
} */

.p2 {
    padding: 0.5rem;
}

.m2 {
    margin: 1rem;
}

.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.center {
    align-items: center;
    justify-content: center;
    display: flex;
}

.flat-button {
    background-color: #8dc149;
    border: none;
    cursor: pointer;
    outline: none;
    color: white;
    padding: 4px;
    border-radius: 4px;
    margin: 8px;
}

.m4px {
    margin: 4px;
}

.ml4 {
    margin-left: 4px;
}

.simulate-link {
    cursor: pointer;
    color: #8dc149;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.active {
    box-shadow: 0px 0px 4px #fff;
}

.inactive {
    font-style: italic;
}
